@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$wrapper: #E0E0E0;
$white: #FFFFFF;
$bg-color: #F7FAFC;
$gray: #8B96A5;
$dark-gray: #505050;
$blue: #0E7AFF;
$black: #1C1C1C;
$litle-blue: rgba(13, 110, 253, 0.2);
$red: #E92E2E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a:focus, button:focus, input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
}
ul{
    li{
        list-style-type: none;
    }
}

html {
    scroll-behavior: smooth;
}
html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F7FAFC;
    position: relative;
    main{
        flex: 1 1 auto;
    }
}

a{
    text-decoration: none;
}

.btn{
    background: transparent;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #0067FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    i{
        font-size: 22px;
    }

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0067FF;
}

.btn-green{
    padding: 16px 50px;
    background: #00B517;
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    position: relative;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

.section{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1C1C1C;
}

.h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #505050;
}





.header{
    background-color: #FFF;
    position: relative;

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
        gap: 20px;

        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: start;
        }

        

        .navbar__head{

            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1024px) {
                width: 100%;
                z-index: 100;
                background: #FFFFFF;   
            }

            .navbar__head-logo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .navbar__head-btns{
                display: none;
                @media (max-width: 1024px) {
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 0;
                        background: transparent;
                        transform: rotate(0);
                        transition: transform .2s linear;
                    }

                    #close{
                        display: none;  
                    }

                    #open{
                        display: none;
                    }
                    .show{
                        display: flex !important;
                        transform: rotate(180deg);
                    }
                }

                
            }
        }

        .search-form{
            position: relative;
            

            @media (max-width: 1024px) {
                display: none;    
            }

            .form-inputs{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 565px;
                    height: 40px;
                    border: 3px solid #0D6EFD;
                    padding: 10px;
                    border-radius: 6px 0 0 6px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #8B96A5;
                    @media (max-width: 1024px) {
                        width: 255px;
                        max-width: 55%;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    
                }
    
                .btn-search{
                    padding: 10px 23.5px;
                    width: auto;
                    height: auto;
                    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
                    border-radius: 0 6px 6px 0;
                    height: 40px;
                    font-style: normal;
                    font-weight: 500;
                    text-align: center;
                    color: #FFFFFF;
                    cursor: pointer;
    
                    @media (max-width: 1024px) {
                        padding: 10px;
    
                    }
                }
            }

            .search-result{
                position: absolute;
                left: 0;
                top: 50px;
                z-index: 101;
                width: 100%;
                display: none;
                @media (max-width: 1024px) {
                    position: relative;
                    top: auto;
                    left: auto;
                    width: 238px;
                    margin: 10px auto;
                }
                
                ul{
                    display: flex;
                    flex-direction: column;                    
                    border: 3px solid #0D6EFD;
                    background: #FFF;
                    border-radius: 0 0 6px 6px;
                    width: 100%;
                    
                    max-width: 100%;
                    li{
                        
                        padding: 10px;
                        border-top: 1px solid #0D6EFD;
                        cursor: pointer;
                        transition: background-color .2s linear;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #8B96A5;

                        &:first-child{
                            border-top: 0;
                        }

                        &:hover{
                            background-color: #0d6dfd16;
                        }

                        
                        
                    }
                }
            }

        }

        .navbar__links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @media (max-width: 1024px) {
                display: none;    
            }
            .cart{
                background: transparent;
                border: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                font-size: 24px;
                color: #0067FF;
                .title{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 15px;
                    color: #0067FF;
                }
            }

        }

        .mobile-links{
            overflow: hidden;

            .items{
                margin-top: -100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                transition: margin-top .2s linear;
            }


        }

        .links-open{
            .items{
                margin-top: 20px;
            }
        }
        

        .mobile{
            display: none;
            @media (max-width: 1024px) {
                display: flex; 
                flex-direction: column; 
                padding: 10px;  
                
            }
        }

        .mobile__links{
            padding: 0 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }
    }
}

.footer{
    background: #FFF;
    padding: 30px 0 120px 0;
    @media (max-width: 768px) {
        padding: 15px 0;
    }
    .container{
        display: flex;
        justify-content: space-between;

        @media (max-width: 425px) {
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .text{
            max-width: 275px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            
            @media (max-width: 425px) {
                align-items: center;
            }

            .links{
                display: flex;
                gap: 10px;
                li{
                    
                    a{
                        color: #BDC4CD;
                        font-size: 26px;
                    }
                }
            }
        }

        .links{
            display: flex;
            justify-content: center;
            gap: 30px;
            @media (max-width: 1024px) {
                display: none;
            }

            li{
                
                a{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;                
                    color: #0D6EFD;
                }

                ul{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    li{
                        transform: translateY(0);
                        transition: transform .2s linear;

                        &:hover{
                            transform: translateY(-2px);
                        }
                        a{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #505050;
                            
                        }
                    }
                }
            }
        }

        .arrow-btn{
            width: 45px;
            height: 45px;
            border: 0;
            background-color:#0067FF;
            border-radius: 50%;
            padding: 12px;
            cursor: pointer;
            transition: transform .1s linear;

            &:hover{
                transform: translateY(-2px);
            }
            img{
                max-height: 100%;
            }
        }
    }
}

.wrapper{
    border: 1px solid #DEE2E7;
    background: #FFFFFF;
    border-radius: 6px;

    
}

.head-section{
    

    .wrapper{
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0 0 20px 0;
            
        }
    }

    .catalog{
        border-right: 1px solid #DEE2E7;
        padding-right: 10px;
        min-width: 250px;

        @media (max-width: 992px) {
            order: 1;
            border: 0;
            padding: 0;
            
        }

        .btn{
            display: none;  
            @media (max-width: 515px) {
                display: flex;
                margin: 0 auto;
                
            }
        }
        ul{
            @media (max-width: 992px) {
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
                justify-content: center;
                gap: 5px;
                
            }

            @media (max-width: 515px) {
                display: none;
                
            }
            li{
                @media (max-width: 992px) {
                    width: 200px;
                    text-align: center;
                    border: 1px solid #0067FF;

                }
                
                background: transparent;
                height: 40px;
                border-radius: 6px;
                cursor: pointer;
                transition: background .2s linear;

                
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #505050;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    transition: color .2s linear;
                    &:hover{
                        font-weight: 500px;
                        color: #1C1C1C;
                    }
                }
                &:hover{
                    background: #E5F1FF;
                }
            }
        }
    }

    .slider{
        width: 100%;
        display: flex;
        padding: 0 10px;
        justify-content: center;
        max-width: 100%;
        position: relative;
        @media (max-width: 992px) {
            padding: 0;
            
        }
    }

    .swiper{

        width: 900px;
        max-width: 100%;
        margin: 0;
        max-height: 350px;

        .swiper{

            width: 900px;
            max-width: 100%;
            margin: 0;
            max-height: 350px;
    
            &-slide{
                text-align: center;
                padding: 10px;
                @media (max-width: 992px) {
                    padding: 0;
                    
                }
                
    
                .slide-img-box{
                    max-width: 100%;
                    max-height: 100%;
                    min-height: 250px;
                    border-radius: 30px;
                    margin: 0 auto;
                    img{
                        width: 100%;
                    }
                }
    
    
            }
    
            
    
            
        }

        

        
    }
}

.popular-categories-section{

    .h2{
        color: #FFF;
    }

    .wrapper{
        overflow: hidden;
        display: flex;
        position: relative;

        @media (max-width: 1215px) {
            
            flex-wrap: wrap;
        }

        .section-head{
            position: relative;
            max-width: 280px;
            max-height: 280px;
            overflow: hidden;
            

            .section-head-img2{
                display: none;
            }

            @media (max-width: 1215px) {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                .section-head-img1{
                    display: none;

                }
                .section-head-img2{
                    display: block;
                }
            }
            
            .h2{
                position: absolute;
                z-index: 1;
                bottom: 90px;
                max-width: 40px;
                left: 23px;

                @media (max-width: 1215px) {
                    bottom: auto;
                    top: 130px;
                    left: 40px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 27px;
                    line-height: 26px;
                    color: #000000;
                    max-width: 220px;
                    font-size: 32px;
                    line-height: 38px;
                }
                @media (max-width: 992px) {
                    top: 145px;
                    left: 30px;
                    font-size: 22px;
                    line-height: 28px;
                }

                @media (max-width: 768px) {
                    max-width: 180px;
                    top: 100px;
                    left: 20px;
                    font-size: 16px;
                    line-height: 24px; 
                }
                @media (max-width: 425px) {
                    max-width: 180px;
                    top: 60px;
                    left: 15px;
                    font-size: 16px;
                    line-height: 24px; 
                }
            }
            img{
                width: 100%;
                min-height: 100%;
                z-index: 2;
                
                @media (max-width: 425px) {
                    width: 150%;
                }
            }
        }

        .category-list{
            display: flex;
            flex-wrap: wrap;
            position: relative;

            @media (max-width: 992px) {
                height: 260px;
            }
            @media (max-width: 768px) {
                height: 398px;
            }

            @media (max-width: 445px) {
                height: 550px;
            }
            li{
                width: 25%;
                height: 50%;
                max-height: 140px;
                min-width: 207px;
                position: relative;
                border: 1px solid #E0E0E0;
                
                overflow: hidden;

                @media (max-width: 992px) {
                    width: 33.333%;
                }

                @media (max-width: 768px) {
                    width: 50%;
                }

                @media (max-width: 445px) {
                    width: 100%;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 2;
                    padding: 20px 15px;

                    p{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 16px;
                        color: #8B96A5;
                        margin-top: 10px;
                        
                    }

                    
                }
                img{
                    top: 55%;
                    transform: translateY(-50%);
                    right: 5px;
                    position: absolute;
                    z-index: 1;
                    max-height: 80px;
                    @media (max-width: 992px) {
                        // max-height: 70px;
                    }
                }
            }
        }
    }
}

.recommendations-section{
    padding-top: 15px;

    .recommendations-slider, .products-list{
        margin-top: 15px;
        overflow: hidden; 

        .recommendations-btn{
            position: absolute;
            color:#0D6EFD;
            font-size: 36px;
            background-color: transparent;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .recommendations-prev{
            top: 50%;
            left: -15px;
        }
        .recommendations-next{
            top: 50%;
            right: -15px;
        }
        .swiper-button-disabled{
            display: none;
        }

        li{

            
            a{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                &:hover{
                    .wrapper{
                        .picture{
                            transform: scale(1.1);
                        }
                    }
                }

            }
            .wrapper{
                width: 220px;
                min-height: 310px;
                display: flex;
                flex-direction: column;
                padding: 13px 16px;
                margin: 0;
                .picture{
                    overflow: hidden;
                    width: 100%;
                    height: 180px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 18px;
                    transition: transform .1s linear;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .price{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #1C1C1C;
                }

                .title{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #8B96A5;
                }
            }
        }
    }
}

/// Catalog page

.catalog-section{
    padding: 60px 0;

    .btn-apply{
        margin: 0 auto;
    }
}

.catalog-section{


    .catalog-list{
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 10px;
        }


        .catalog-list__item{
            width: 280px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            background: $white;
            overflow: hidden;
            padding: 20px 15px;
            max-width: 100%;

            a{
                display: flex;
                flex-direction: column;
                gap: 10px;
                @media (max-width: 768px) {
                    flex-direction: row;
                    align-items: center;
                    gap: 30px;
                }
            }

            @media (max-width: 768px) {
                width: 345px;
                flex-direction: row;
                height: 95px;
                padding: 7px;
            }

            .picture{
                height: 250px;

                @media (max-width: 768px) {
                    width: 80px;
                    height: 80px;
                }

                
            }

            .title{
                margin-top: 10px;
                font-weight: 500;
                font-size: 21px;
                line-height: 25px;
                color: $black;

                @media (max-width: 768px) {
                    margin-top: 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            .item-list{
                margin-top: auto;
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 100%;

                @media (max-width: 768px) {
                    display: none;
                }

                &__item{
                    a{
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 21px;
                        color: $dark-gray;
                    }
                }
            }
        }
    }
}







.products{
    display: flex;
    gap: 30px;
}

.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    @media (max-width: 992px) {
        width: 100%;
    }

    .settings{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 15px;
        padding: 14px 0;
        border-top: 1px $wrapper solid;

        &__title{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $black;
        }

        ul{
            overflow: hidden;
            max-height: 180px;
            
            li{
                height: 36px;
                display: flex;
                align-items: center;
                gap: 15px;
            }
            
            input{
                scale: 1.5; 
                margin-left: 10px; 
            }
        }

        .btn-more{
            text-align: left;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $blue;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .price-inputs{
            padding: 5px;
            display: flex;
            gap: 10px;
        }

        .price{
            width: 60px !important;
            height: 30px;
            padding: 5px;
            scale: 1;
        }
    }

    .open{

        ul{
            max-height: 100%;
        }
    }
}

.products{

    

    @media (max-width: 992px) {
        flex-direction: column;
    }

    .recommendations-slider, .products-list{
        width: 1124px;

        @media (max-width: 992px) {
            width: 100%;
        }
    }
    .swiper-wrapper, .products-list-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
        gap: 30px;

        @media (max-width: 992px) {
            margin-left: 0;
        }

        .title{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;

        }

        .description{
            
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}


// Product Page

.product-item-section{


    .wrapper{
        padding: 25px 15px;

        display: flex;
        gap: 30px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .thumbnail{
            width: 380px;
            height: 380px;
            display: flex;

            @media (max-width: 992px) {
                margin: 0 auto;
            }

            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }

        .content{
            width: 60%;
            

            @media (max-width: 992px) {
                width: 100%;
                text-align: center;
            }

            .title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 33px;
                line-height: 42px;
                color: #1C1C1C;
            }

            .descr{
                margin-top: 30px;   
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #505050;
            }

            p{
                margin-top: 30px;
                margin-bottom: 30px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color: #1C1C1C;
            }
        }
    }
}

// Login

.login-section{

    .form{
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
        padding: 40px 20px;
        
        .h2{
            text-align: center;
            font-size: 26px;
        }

        form{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .input-container{
                width: 100%;
                input{
                    width: 100%;
                }
            }

        }
    }
}

input{
    padding: 10px;
    border-radius: 6px;
    border: 1px $gray solid;
}


.admin{
    padding: 15px;
    gap: 0;

    table{
        color: $white;

        th{
            text-align: left;
            padding: 5px 15px;
        }

        td{
            padding: 5px;
        }

        .buttons{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: end;
            justify-content: center;
            margin: auto;
            margin-top: 0;

            .btn-active{
                background: $white;
                i{
                    color: $black;
                }
            }
        }
    }

    input, textarea{
        width: 100%;
        background: $blue;
        padding: 10px;
        color: $white;
        border-radius: 6px;
        border: 1px $gray solid;
        font-size: 16px;
        margin: 10px 5px;
    
        &::placeholder{
            color: $white;
        }
    }
    textarea{
        min-height: 100px;
        min-width: 200px;
        max-width: 100%;
    }

    .sidebar{
        padding: 15px;
        padding-right: 0;
    }

    .settings{
        gap: 2px;
        border: 0;

        .tab-item{
            width: 100%;

            .btn{
                width: 100%;
                border-right: 0;
            }
        }
    }

    .content{
        width: 100%;
        height: auto;
        background: $blue;
        border-radius: 6px;
        overflow: hidden;
        position: relative;

        .tab-content{
            width: 100%;
            padding: 15px;
            position: absolute;
            opacity: 0;
            display: none;

            transition: opacity .2s linear;

            

            

            .btn-submit{
                padding: 10px 20px;
                margin-left: auto ;
                margin-top: 30px;
            }

            .product-row{
                border-bottom: 1px $gray solid;
            }
            
        }
        

        .active-tab-content{
            opacity: 1;
            display: block;
            position: relative;

        }
    }
}

.btn-edit, .btn-save, .btn-remove{
    

    margin-left: auto;
    
    color: $white;
    width: 30px;
    padding: 0;
    height: 30px;
    border-radius: 50%;
    
    border: 1px $white solid;

    &:hover{
        background: $white;
        i{
            color: $black;
        }
    }

    i{
        font-size: 13px;
    }
}




.btn-admin{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover{
        background: $litle-blue;
    }
}

.active-tab{
    background: $blue;
    color: $white;

    &:hover{
        background: $blue;
    }
}

.catalog-search{
    width: 100%;
}

